.content {
  color: white;
  margin: 3rem 0 0 1rem;
  display: grid;
  grid-template-rows: 4rem 7rem 4rem 7rem 5rem;
  gap: 0.5rem;

  h1 {
    font-family: "Prata", serif;
    font-size: 3rem;
  }

  h2 {
    font-family: "Rubik", sans-serif;
    font-size: 1.5rem;
  }

  h3 {
    color: #c8693a;
    font-family: "Great Vibes", cursive;
    font-size: 2.5rem;
  }

  .buttons {
    // padding: 1rem;

    .shop-button {
      padding: 1rem;
      margin: 0.5rem;
      background-color: #c8693a;
      color: white;
      font-size: 1.4rem;
    }

    .learn-more-button {
      padding: 1rem;
      margin: 0.5rem;
      background: none;
      color: white;
      font-size: 1.4rem;
      border: 1px solid white;
    }
  }
}

@media (min-width: 550px) {
  .content {
    h1 {
      font-size: 3rem;
    }
    .buttons {
      display: grid;
      gap: 1rem;
      grid-template-columns: 12rem 12rem;
    }
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}

@media (min-width: 992px) {
  .content {
    grid-template-rows: 4rem 7rem 4rem 5rem 5rem;
    margin: 10rem 0 0 30rem;
  }
}
